:root{
    --text-color: #282B28;
    --task: #83BCA9;
    --task-selected: rgb(136, 185, 142);
    --task-outdated: rgb(194, 62, 33);
    --task-fire: rgb(211, 127, 53); 
}

.task{
    user-select: none;
    color: var(--text-color);
    background-color: var(--task);
    padding: 1em;
    margin: 1em;
    
    width: 25em;

    text-overflow: ellipsis;

    display: flex;
    flex-direction: column;
    justify-items: start;

    border: 4px solid var(--text-color);
    border-radius: 1em;
}

.selected{
    background-color: var(--task-selected);
    border-color: transparent;
}

button{
    margin: .2em;
}

.outdated{
    background-color: var(--task-outdated);
}

.fire{
    background-color: var(--task-fire);
}